In [85]:
from pathlib import Path

In [86]:
import csv

In [87]:
csvpath = Path("../Resources/budget_data.csv")

In [172]:
total_change = 0
total_months = 0
total_sum = 0
biggest_increase = 0
biggest_decrease = 0
change = 0
previous_value = 0
changes = []

with open (csvpath, "r") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    csv_header = next(csvreader)
    for row in csvreader:
        
    
        total_months += 1
        total_sum += int(row[1])
        
        if total_months >= 2:
            change = int(row[1]) - previous_value
            changes.append(change)
        previous_value = int(row[1])
        
        total_change += change
        if change > biggest_increase:
            biggest_increase = change
            biggest_increase_date = row[0]
        elif change < biggest_decrease:
            biggest_decrease = change
            biggest_decrease_date = row[0]
        
            
            
        
average_change = round(total_change / 85, 2)


#Record greatest increase in profits (Date and Amount)
#If change is greater than previous change, it becomes new change



        
print("===========================     FINANCIAL  ANALYSIS  ===========================")
print("                                    (10/09/2023)")
print(" ")      
print(" ")
print(f"Total number of months in period: {total_months}")
print(" ")
print(f"The net total (Profit/Loss) sum is: {total_sum}")
print(" ")
print(f"The firm's average of the changes in Profit/Loss is: {average_change}")
print(" ")
print(f"The firm's greatest increase was {biggest_increase} on {biggest_increase_date}")
print(" ")
print(f"The firm's greatest decrease was {biggest_decrease} on {biggest_decrease_date}")
print(" ")
print(" ")
print("=================================================================================")

===========================     FINANCIAL  ANALYSIS  ===========================
                                    (10/09/2023)


Total number of months in period: 86

The net total (Profit/Loss) sum is: 38382578

The firm's average of the changes in Profit/Loss is: -2315.12

The firm's greatest increase was 1926159 on Feb-2012

The firm's greatest decrease was -2196167 on Sep-2013


=================================================================================

In [62]:
budget_csv

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [67]:
count = 0

for date in budget_csv.iloc[:]:
    print(date)

Date
Profit/Losses

In [57]:
budget_csv.iloc[0]

Date             Jan-2010
Profit/Losses      867884
Name: 0, dtype: object